{% extends 'layout/base.html' %}
{% load static %}
{% block title %}About Page{% endblock title %}

{% block content %}
    <div class="col-sm-12">
        <h1 class="my-5">About Page</h1>
        <p>This is an about page.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
        </p>
    </div>
{% endblock content %}
