{% extends 'layout/base.html' %}
{% load static %}
{% block title %}Home Page{% endblock title %}

{% block content %}
    <div class="col-sm-12">
        <h1 class="text-white text-center my-5">Welcome To MiniBlog</h1>
        <div class="jumbotron jumbotron-fluid jambo-color">
            <div class="container">
              <h1 class="display-4 font-weight-bold">Welcome To Blog Title</h1>
              <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
              </p>
            </div>
          </div>
    </div>
{% endblock content %}