/* body{
    background-color: #212529;
    color: #ffffff;
}

.jambo-color{
    background-color: rgb(83,81,81);
} */

.jumbotron{
    padding: 2rem 1rem !important;
}

/* # CKEDITOR style */
.ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 300px;
    overflow-y: auto;
}

